In [1]:
import requests
import pandas as pd
import numpy as np
import json

In [2]:
API_KEY = '115cfbe32e4f1650f8fbba149821f57b'
OAUTH_TOKEN = 'b157d9c2d8ef88f37f95823af3150404c7a3a158ca02f97e7c647b61e7551810'
BOARD = 'EPl91X9X'

In [3]:
url = "https://api.trello.com/1/boards/"+ BOARD 

querystring = {"key":API_KEY,"token":OAUTH_TOKEN, "cards":"all", "members":"all","labels":"all","labels_field":"name" ,"members":"all","member_fields":"fullName"}

response = requests.request("GET", url, params=querystring)

data = json.loads(response.text)

Criando DataFrame de Labels do Quadro
-------------------------------------

In [4]:
df_labels = pd.DataFrame(data['labels'])
df_labels = df_labels.loc[:, ['id','name']]
#alterando o nome das colunas pois isso evitará problemas futuros
df_labels.columns = ['idLabel', 'nameLabel']
df_labels

                     idLabel                   nameLabel
0   557eed22c3caa18119ddb9b2                  Altera URA
1   557eed22c3caa18119ddb9b5                    Outbound
2   570fffc9b0dfecc6d1e6c0c5                   Relatório
3   557eed22c3caa18119ddb9b1                Sistema novo
4   557eed22c3caa18119ddb9b3  Configuração na Estratégia
5   557eed22c3caa18119ddb9b0                    Internet
6   5739c2345b9b3323fb096c01             Alterar sistema
7   5756c70784e677fd3606a00d                Configuração
8   557eed22c3caa18119ddb9b4                         CRM
9   5a60a723e6b30f08167f1e46                Documentação
10  5a16ca2126ac2f6c4f59e59c                        CHAT
11  5a8f2f18b52512b540eea859                Investigação

Criando DataFrame de Pessoas do Quadro
--------------------------------------

In [5]:
df_members = pd.DataFrame(data['members'])
#alterando o nome das colunas pois isso evitará problemas futuros
df_members.columns = ['fullName', 'idName']
df_members

                             fullName                    idName
0                     Alexandre Souza  517ab3dfedc9a8e516000eb7
1                        Amanda Leite  5908a741090315a11886f029
2   Carlos Eduardo Pereira dos Santos  5717e90ad0673e1be61b472c
3                              Danilo  5a7335d3358f72e6c5d682fe
4                        Debora Lopes  59a9c478bb07d6b29fec6090
5            Fellipe Ritter Madureira  51827ad18ed588ad72000992
6                     Geraldo Ribeiro  59a9c6b565f0d1330c821f0c
7                    Giancarlo Lester  595267c213f2cd1c9ff06999
8                       Igor Watanabe  59a9c6259640f75cea3c2179
9                    Jaqueline Sakuma  5952a9a56aed2d053ca64a40
10                       Manoel Teles  59529cb077f03634e9eb6123
11                       Rafael Dutra  590259f38bc81f03be6e653a
12                     Robson Galdino  517ec2038491d676240011d6
13                            William  55f989c564cee42dca59a03e

Criando DataFrame de Cards do Quadro (nome, descrição, Id das Labels e Id das Pessoas)
------------------------------------------------------------------------------------------

In [16]:
list_data = []
for data_json in data['cards']:
    list_data.append((data_json['id'], data_json['name'],data_json['desc'], data_json['idLabels'], data_json['idMembers']))
df_data = pd.DataFrame(list_data, columns=['idCard','name', 'desc', 'idLabels', 'idMembers'])

df_data.head()

,idCard,name,desc,idLabels,idMembers
0,5ac274c8cf2beacc74a5e5b6,MASDAR-65 | [URA PSAC] Ajustar MobiReader atua...,*Para * que seja possível continuar informando...,"[557eed22c3caa18119ddb9b2, 570fffc9b0dfecc6d1e...",[]
1,5ac27457c07196f78798a40d,MASDAR-66 | [URA PSAC & PCRT] Ajustar consulta...,*Para * que seja possível continuar informando...,"[557eed22c3caa18119ddb9b2, 570fffc9b0dfecc6d1e...",[]
2,5ac274685273e013b5990f83,MASDAR-64 | [URA PSAC] Ajustar serviço de saqu...,*Para * que seja possível continuar informando...,"[557eed22c3caa18119ddb9b2, 570fffc9b0dfecc6d1e...",[]
3,5ab2590cadfe33f670f32d34,MASDAR-60 | [URA PSAC] Novo Menu - Vendedor Mo...,Preencher o novo menu do cliente Vendedor Mobi...,"[557eed22c3caa18119ddb9b2, 570fffc9b0dfecc6d1e...",[]
4,5aac22babb323e4081717e0d,MASDAR-59 | [URA PSAC] Adicionar ponto de rela...,**Dado que** na URA PSAC existe o fluxo de Car...,"[570fffc9b0dfecc6d1e6c0c5, 557eed22c3caa18119d...",[]

Função que transforma as colunas que possuem lista em linhas separadas
----------------------------------------------------------------------

In [7]:
def listToColumn(dataframe, columnName):
    s = dataframe.apply(lambda x: pd.Series(x[columnName]),axis=1).stack().reset_index(level=1, drop=True)
    s.name = columnName
    return df_data.drop(columnName, axis=1).join(s).reset_index(drop=True)

Utilizando a função nas colunas **idLabels** e **idMembers**
------------------------------------------------------------

In [19]:
df_data = listToColumn(df_data, 'idLabels')
df_data = listToColumn(df_data, 'idMembers')

Vizualizando o resultado
------------------------

In [20]:
# df_data.head()
df_data.info()
# df_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 5 columns):
idCard       636 non-null object
name         636 non-null object
desc         636 non-null object
idLabels     373 non-null object
idMembers    363 non-null object
dtypes: object(5)
memory usage: 24.9+ KB

Realizando o merge nos DataFrames 
---------------------------------

In [21]:
# Nessa parte é mostrado o porque foram alteradas os nomes das colunas nos DataFrames Members e Labels, o merge teria mais de uma coluna
# com o nome 'name', e então iria renomear as colunas para name_x e name_y, respectivamente.
def mergeSemRemoverNaN(dataframe1, dataframe2, column1, column2):
    df1 = pd.merge(dataframe1.set_index(column1,drop=False), dataframe2.set_index(column2,drop=False), left_index=True, right_index=True,  how="left")
    return df1.reset_index(drop=True).drop([column1,column2], axis=1)

In [22]:
df_data = mergeSemRemoverNaN(df_data, df_labels, 'idLabels', 'idLabel')

In [23]:
df_data = mergeSemRemoverNaN(df_data, df_members, 'idMembers', 'idName')

In [29]:
#DataFrame final
df_data
#exportar para excel
df_data.to_excel('dados_trello_comDesc.xlsx')
df_data.loc[:,['idCard','name','nameLabel', 'fullName']].to_excel('dados_trello_semDesc.xlsx')

In [28]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 5 columns):
idCard       636 non-null object
name         636 non-null object
desc         636 non-null object
nameLabel    373 non-null object
fullName     363 non-null object
dtypes: object(5)
memory usage: 24.9+ KB

In [58]:
from datetime import datetime

x=df_data.idCard.str[0:8]
b16 = lambda x: datetime.fromtimestamp(int(x,16))
df_data['date'] = x.apply(b16)

In [60]:
df_data.set_index('date',inplace=True, )

In [65]:
df_data.loc[:,['idCard','name','nameLabel', 'fullName']].to_excel('dados_trello_semDesc.xlsx')