In [1]:
import requests
import pandas as pd
import numpy as np
import json

In [39]:
API_KEY = '115cfbe32e4f1650f8fbba149821f57b'
OAUTH_TOKEN = 'b157d9c2d8ef88f37f95823af3150404c7a3a158ca02f97e7c647b61e7551810'
BOARD = 'j3Q5sv84'

In [120]:
url = "https://api.trello.com/1/boards/"+ BOARD 

querystring = {"key":API_KEY,"token":OAUTH_TOKEN, "cards":"all", "members":"all","labels":"all","labels_field":"name" ,"members":"all","member_fields":"fullName"}

response = requests.request("GET", url, params=querystring)

data = json.loads(response.text)

In [135]:
# data['labels']

In [126]:
list_data = []
for data_json in data['cards']:
    list_data.append((data_json['id'], data_json['name'],data_json['desc'], data_json['idLabels'], data_json['idMembers']))
df_data = pd.DataFrame(list_data, columns=['idCard','name', 'desc', 'idLabels', 'idMembers'])

In [127]:
df_data.head()

,idCard,name,desc,idLabels,idMembers
0,59aefb23d0dc9b6abea0e69e,Melhorias,O objetivo deste card é listar todas as ideias...,[],[]
1,599aff716754e88883035219,Inserir no Confluence: Processos Campanha Tipi...,Aguardando Revisões finais.,"[595fea4a1314a3399987ccb7, 595fea4a1314a339998...","[59529cb077f03634e9eb6123, 5952a9a56aed2d053ca..."
2,59a6afa649210a2601b5dcfd,teste sadasds,,[],[]
3,599aff732634741a2871c12d,Inserir no Confluence: Processos Uras,Aguardando Revisões finais.,[595fea4a1314a3399987ccb7],[]
4,599aff7481a4ceb12a9921a0,Inserir no Confluence: Processos Relatórios,Aguardando Revisões finais.,[595fea4a1314a3399987ccb7],[]

In [133]:
df_labels = pd.DataFrame(data['labels'])
df_labels = df_labels.loc[:, ['id','name']]
df_labels

                         id          name
0  595fea4a1314a3399987ccb8     UOL Barão
1  595fea4a1314a3399987ccb7           Doc
2  595fea4a1314a3399987ccb4
3  595fea4a1314a3399987ccb5  UOL Angélica
4  595fea4a1314a3399987ccb6
5  595fea4a1314a3399987ccb9

In [134]:
df_members = pd.DataFrame(data['members'])
df_members

            fullName                        id
0    Alexandre Souza  517ab3dfedc9a8e516000eb7
1       Amanda Leite  5908a741090315a11886f029
2             Danilo  5a7335d3358f72e6c5d682fe
3       Debora Lopes  59a9c478bb07d6b29fec6090
4    Geraldo Ribeiro  59a9c6b565f0d1330c821f0c
5   Giancarlo Lester  595267c213f2cd1c9ff06999
6      Igor Watanabe  59a9c6259640f75cea3c2179
7   Jaqueline Sakuma  5952a9a56aed2d053ca64a40
8       Manoel Teles  59529cb077f03634e9eb6123
9             Marcel  525c3f6596980ee77400071c
10      Rafael Dutra  590259f38bc81f03be6e653a
11    Robson Galdino  517ec2038491d676240011d6
12           William  55f989c564cee42dca59a03e

In [77]:
s = df_data.apply(lambda x: pd.Series(x['idLabels']),axis=1).stack().reset_index(level=1, drop=True)

In [78]:
s.name = 'idLabel'

In [81]:
df_data = df_data.drop('idLabels', axis=1).join(s)

In [84]:
s = df_data.apply(lambda x: pd.Series(x['idMembers']),axis=1).stack().reset_index(level=1, drop=True)

In [86]:
s.name = 'idMember'

In [87]:
df_data = df_data.drop('idMembers', axis=1).join(s)

In [92]:
df_data.reset_index(drop=True, inplace=True)

In [98]:
df_data = pd.merge(left=df_data, right=df_labels, left_on='idLabel', right_on='idLabel')

In [100]:
df_data = pd.merge(left=df_data, right=df_members, left_on='idMember', right_on='idMember')

In [102]:
df_data.drop(['idLabel', 'idMember'], axis=1, inplace=True)

In [115]:
# df_data

In [118]:



response = requests.request("GET", url, params=querystring)

print(response.text)

{"id":"595fea4a74a92e9514a58636","labels":[{"id":"595fea4a1314a3399987ccb8","idBoard":"595fea4a74a92e9514a58636","name":"UOL Barão","color":"blue","uses":15},{"id":"595fea4a1314a3399987ccb7","idBoard":"595fea4a74a92e9514a58636","name":"Doc","color":"green","uses":12},{"id":"595fea4a1314a3399987ccb4","idBoard":"595fea4a74a92e9514a58636","name":"","color":"orange","uses":0},{"id":"595fea4a1314a3399987ccb5","idBoard":"595fea4a74a92e9514a58636","name":"UOL Angélica","color":"yellow","uses":0},{"id":"595fea4a1314a3399987ccb6","idBoard":"595fea4a74a92e9514a58636","name":"","color":"red","uses":0},{"id":"595fea4a1314a3399987ccb9","idBoard":"595fea4a74a92e9514a58636","name":"","color":"purple","uses":0}],"members":[{"id":"517ab3dfedc9a8e516000eb7","fullName":"Alexandre Souza"},{"id":"5908a741090315a11886f029","fullName":"Amanda Leite"},{"id":"5a7335d3358f72e6c5d682fe","fullName":"Danilo"},{"id":"59a9c478bb07d6b29fec6090","fullName":"Debora Lopes"},{"id":"59a9c6b565f0d1330c821f0c","fullName":"Geraldo Ribeiro"},{"id":"595267c213f2cd1c9ff06999","fullName":"Giancarlo Lester"},{"id":"59a9c6259640f75cea3c2179","fullName":"Igor Watanabe"},{"id":"5952a9a56aed2d053ca64a40","fullName":"Jaqueline Sakuma"},{"id":"59529cb077f03634e9eb6123","fullName":"Manoel Teles"},{"id":"525c3f6596980ee77400071c","fullName":"Marcel"},{"id":"590259f38bc81f03be6e653a","fullName":"Rafael Dutra"},{"id":"517ec2038491d676240011d6","fullName":"Robson Galdino"},{"id":"55f989c564cee42dca59a03e","fullName":"William"}]}